@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg: #ffffff;
  --text: #000000;
  --nav-bg: #ffffff;
  --border: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

nav {
  background-color: var(--nav-bg);
}

.nav img {
  justify-content: left;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links li, .projects-list li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text);

}

body:has(#theme-toggle:checked) {
  --bg: #0b0b0f;
  --text: #f2f2f2;
  --nav-bg: #0b0b0f;
  --border: #ffffff;
}

.theme-toggle {
  cursor: pointer;
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 6px;
  background: #eee;
  transition: background 0.3s, transform 0.2s;
}

#theme-toggle:checked+.theme-toggle {
  background: #333;
  transform: rotate(180deg);
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  color: var(--text);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.main-content {
  display: flex;
  gap: 50px;
}

.projects-list {
  margin: 0;
  padding: 0;
}

.main-content li {
  margin-bottom: 20px;
}

.reviews h2 {
  text-align: center;
}

.reviews-box {
  display: flex;
  gap: 25px;
}

.reviews-box article {
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 15px;
}

footer {
  text-align: center;
  margin: 50px;
  border-top: 1px solid var(--border);
  padding: 20px;
}

fieldset {
  border: 2px solid var(--border);
  border-radius: 10px;
  padding: 50px;
  max-width: 600px;
  margin: auto;
}

input, textarea {
  font-family: inherit;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
}

.submit-button {
  background-color: var(--border);
  color: var(--bg);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
    gap: 30px;
  }

  .nav-links {
    flex-wrap: wrap;
    margin-right: 0;
  }
}


